<%= form.hidden_field :parent_id %>

<div class="mb-3">
  <%= form.label :title, class: CssClass::LABEL %>
  <%= form.text_field :title, class: CssClass::TEXT_FIELD %>
  <%= render "errors", object: collection, attribute: :title %>
</div>

<div class="mb-3">
  <%= form.label :short_title, class: CssClass::LABEL %>
  <%= form.text_field :short_title, class: CssClass::TEXT_FIELD %>
  <%= render "errors", object: collection, attribute: :short_title %>
</div>

<div class="mb-3">
  <%= form.label :order, class: CssClass::LABEL %>
  <%= form.number_field :order, class: CssClass::NUMBER_FIELD %>
  <%= render "errors", object: collection, attribute: :order %>
</div>

<div class="mb-3">
  <%= form.label :description, class: CssClass::LABEL %>
  <%= form.text_area :description, class: CssClass::TEXT_AREA %>
  <%= render "errors", object: collection, attribute: :description %>
</div>

<div class="mb-3">
  <%= form.label :subcollection_name, class: CssClass::LABEL %>
  <%= form.text_field :subcollection_name, class: CssClass::TEXT_FIELD %>
  <%= render "errors", object: collection, attribute: :subcollection_name %>
</div>

<div class="mb-3">
  <%= form.label :affiliation_identifier_alias, class: CssClass::LABEL %>
  <%= form.text_field :affiliation_identifier_alias, class: CssClass::TEXT_FIELD %>
  <%= render "errors", object: collection, attribute: :affiliation_identifier_alias %>
</div>

<div class="mb-3">
  <%= form.label :admin_emails, class: CssClass::LABEL do %>
    Admin emails
    <span class="text-gray-400">(comma-separated, must be registered)</span>
  <% end %>

  <%= form.text_field :admin_emails, class: CssClass::TEXT_FIELD %>
  <%= render "errors", object: collection, attribute: :admin_emails %>
</div>


<% if collection.parent_id.present? %>
<div class="mb-3">
  <%= form.label "Subcollection of", class: CssClass::LABEL %>
  <%= form.select :parent_id, 
        @current_user.admin_collections.map {|c| [c.short_title_path, c.id]},
        {selected: collection.parent_id},
        {class: CssClass::SELECT} %>
  <%= render "errors", object: collection, attribute: :parent_id %>
</div>
<% end %>

<div class="mb-3">
  <%= form.label :time_zone, class: CssClass::LABEL %>
  <%= form.select :time_zone, [["Use default time zone (#{collection.parent_time_zone})", nil]] + ActiveSupport::TimeZone.all.map { |tz| ["#{tz.name} (UTC #{tz.formatted_offset})", tz.name] }, {}, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
  <%= render "errors", object: collection, attribute: :time_zone %>
</div>

<div class="mb-3">
  <%= form.label :submissions_open_on, class: CssClass::LABEL %>
  <% Time.use_zone(collection.inherited_time_zone) do %>
    <%= form.datetime_field :submissions_open_on, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
  <% end %>

  <%= render "errors", object: collection, attribute: :submissions_open_on %>
</div>

<div class="mb-3">
  <%= form.label :submissions_close_on, class: CssClass::LABEL %>
  <% Time.use_zone(collection.inherited_time_zone) do %>
    <%= form.datetime_field :submissions_close_on, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
  <% end %>

  <%= render "errors", object: collection, attribute: :submissions_close_on %>
</div>

<div class="mb-3">
  <%= form.label :submittable, class: CssClass::LABEL %>
  <%= form.check_box :submittable, class: CssClass::CHECK_BOX %>
  <%= render "errors", object: collection, attribute: :submittable %>
</div>

<div class="mb-3">
  <%= form.label :show_events, class: CssClass::LABEL %>
  <%= form.check_box :show_events, class: CssClass::CHECK_BOX %>
  <%= render "errors", object: collection, attribute: :show_events %>
</div>

<div class="mb-3">
  <%= form.label :registerable, class: CssClass::LABEL %>
  <%= form.check_box :registerable, class: CssClass::CHECK_BOX %>
  <%= render "errors", object: collection, attribute: :registerable %>
</div>

<div class="mb-3">
  <%= form.label :public_webinars, class: CssClass::LABEL %>
  <%= form.check_box :public_webinars, class: CssClass::CHECK_BOX %>
  <%= render "errors", object: collection, attribute: :public_webinars %>
</div>
