<%= form_with model: collection do |form| %>
  <%= render "fields_for", collection: collection, form: form %>
  <span class="<%= CssClass::BUTTON_BAR %>">
      <%= form.submit class: CssClass::SUBMIT %>
      <% if collection.new_record? %>
        <%= link_to "Cancel", collections_path, class: CssClass::CANCEL %>
      <% else %>
        <%= link_to "Cancel", collection, class: CssClass::CANCEL %>
      <% end %>
  </span>
<% end %>
