<%= form_with model: collection do |form| %>
  <%= form.hidden_field :parent_id %>
  <div class="mb-3">
    <%= form.label :title, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_field :title, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :short_title, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_field :short_title, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:short_title).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_area :description, class: "mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:description).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :subcollection_name, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_field :subcollection_name, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:subcollection_name).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :admin_emails, class: "block text-xs font-medium text-gray-700" do %>
      Admin emails
      <span class="text-gray-400">(comma-separated)</span>
    <% end %>
    <%= form.text_field :admin_emails, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:admin_emails).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :time_zone, class: "block text-xs font-medium text-gray-700" %>
    <%= form.select :time_zone, [["Use default time zone (#{collection.parent_time_zone})", nil]] + ActiveSupport::TimeZone.all.map { |tz| ["#{tz.name} (UTC #{tz.formatted_offset})", tz.name] }, {}, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:time_zone).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :submittable, class: "block text-xs font-medium text-gray-700" %>
    <%= form.check_box :submittable, class: "mt-1 rounded-md border-gray-200 shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:subcollection_name).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :submissions_open_on, class: "block text-xs font-medium text-gray-700" %>
    <% Time.use_zone(collection.inherited_time_zone) do %>
      <%= form.datetime_field :submissions_open_on, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %> 
    <% end %>
    <% collection.errors.full_messages_for(:submissions_open_on).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :submissions_close_on, class: "block text-xs font-medium text-gray-700" %>
    <% Time.use_zone(collection.inherited_time_zone) do %>

      <%= form.datetime_field :submissions_close_on, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %> 
    <% end %>
    <% collection.errors.full_messages_for(:submissions_close_on).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div>
    <span class="inline-flex -space-x-px overflow-hidden rounded-md border bg-white shadow-sm">
      <%= form.submit class: "inline-block px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative" %>
      <%= link_to "Cancel", cancel_path, class: "inline-block px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:relative"%>
    </span>
  </div>
<% end %>
