<%= form_with model: collection do |form| %>
  <%= form.hidden_field :parent_id %>
  <div class="mb-3">
    <%= form.label :title, class: CssClass::LABEL %>
    <%= form.text_field :title, class: CssClass::TEXT_FIELD %>
    <% collection.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :short_title, class: CssClass::LABEL %>
    <%= form.text_field :short_title, class: CssClass::TEXT_FIELD %>
    <% collection.errors.full_messages_for(:short_title).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :order, class: CssClass::LABEL %>
    <%= form.number_field :order, class: CssClass::NUMBER_FIELD %>
    <% collection.errors.full_messages_for(:order).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: CssClass::LABEL %>
    <%= form.text_area :description, class: CssClass::TEXT_AREA %>
    <% collection.errors.full_messages_for(:description).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :subcollection_name, class: CssClass::LABEL %>
    <%= form.text_field :subcollection_name, class: CssClass::TEXT_FIELD %>
    <% collection.errors.full_messages_for(:subcollection_name).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :affiliation_identifier_alias, class: CssClass::LABEL %>
    <%= form.text_field :affiliation_identifier_alias, class: CssClass::TEXT_FIELD %>
    <% collection.errors.full_messages_for(:affiliation_identifier_alias).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :admin_emails, class: CssClass::LABEL do %>
      Admin emails
      <span class="text-gray-400">(comma-separated, must be registered)</span>
    <% end %>
    <%= form.text_field :admin_emails, class: CssClass::TEXT_FIELD %>
    <% collection.errors.full_messages_for(:admin_emails).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :time_zone, class: CssClass::LABEL %>
    <%= form.select :time_zone, 
      [["Use default time zone (#{collection.parent_time_zone})", nil]] + 
      ActiveSupport::TimeZone.all.map { 
        |tz| ["#{tz.name} (UTC #{tz.formatted_offset})", tz.name] 
      }, {}, class: CssClass::TEXT_FIELD %>
    <% collection.errors.full_messages_for(:time_zone).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :submittable, class: CssClass::LABEL %>
    <%= form.check_box :submittable, class: CssClass::CHECK_BOX %>
    <% collection.errors.full_messages_for(:submittable).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :submissions_open_on, class: CssClass::LABEL %>
    <% Time.use_zone(collection.inherited_time_zone) do %>
      <%= form.datetime_field :submissions_open_on, class: CssClass::DATETIME_FIELD %> 
    <% end %>
    <% collection.errors.full_messages_for(:submissions_open_on).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :submissions_close_on, class: CssClass::LABEL %>
    <% Time.use_zone(collection.inherited_time_zone) do %>

      <%= form.datetime_field :submissions_close_on, class: CssClass::DATETIME_FIELD %> 
    <% end %>
    <% collection.errors.full_messages_for(:submissions_close_on).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :show_events, class: CssClass::LABEL %>
    <%= form.check_box :show_events, class: CssClass::CHECK_BOX %>
    <% collection.errors.full_messages_for(:show_events).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :registerable, class: CssClass::LABEL %>
    <%= form.check_box :registerable, class: CssClass::CHECK_BOX %>
    <% collection.errors.full_messages_for(:registerable).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :public_webinars, class: "block text-xs font-medium text-gray-700" %>
    <%= form.check_box :public_webinars, class: "mt-1 rounded-md border-gray-200 shadow-sm sm:text-sm" %>
    <% collection.errors.full_messages_for(:public_webinars).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div>
    <span class="<%= CssClass::BUTTON_BAR %>">
      <%= form.submit class: CssClass::SUBMIT %>
      <%= link_to "Cancel", cancel_path, class: CssClass::LINK_BUTTON %>
    </span>
  </div>
<% end %>
