<% content_for :title, "Connections | #{@collection.title}" %>

<section class="mx-auto md:w-3/4 w-full">
    <%= render partial: "breadcrumb", locals: { collection: @collection, action: "Connections" } %>
    
    <h1 class="text-2xl font-bold text-gray-900 md:text-3xl py-5">
        All emails connected to <%= @collection.title %>
        (<%= @collection.connected_profiles.length %>)
    </h1>

    <div class="text-gray-700 py-3">
        <textarea class="w-full h-12 bg-gray-100 p-2" readonly><%= 
            @collection.connected_profiles.map(&:email).uniq.join("; ")
        %></textarea>
    </div>
    
    <h1 class="text-2xl font-bold text-gray-900 md:text-3xl py-5">
        Connected emails who have not submitted
        (<%= @collection.connected_unsubmitted_profiles.length %>)
    </h1>

    <div class="text-gray-700 py-3">
        <textarea class="w-full h-12 bg-gray-100 p-2" readonly><%= 
            @collection.connected_unsubmitted_profiles.map(&:email).uniq.join("; ")
        %></textarea>
    </div>
    
    <h1 class="text-2xl font-bold text-gray-900 md:text-3xl py-5">
        Connected emails who have not registered
        (<%= @collection.connected_unregistered_profiles.length %>)
    </h1>

    <div class="text-gray-700 py-3">
        <textarea class="w-full h-12 bg-gray-100 p-2" readonly><%= 
            @collection.connected_unregistered_profiles.map(&:email).uniq.join("; ")
        %></textarea>
    </div>
</section>
