<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @collection.title %> | ScholarLattice"
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      MathJax = {
        startup: {
          elements: ['.mathjax'],
        },
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$','$$'],['\\[','\\]']],
        },
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>

  <body>
    <section class="mx-auto my-3 md:w-3/4 w-full">
        <div class="float-right text-right">
            <div>
                <%= link_to @collection do %>
                    <%= render inline: @collection.qr_code %>
                <% end %>
            </div>
            <div class="text-sm">
                Scan to see all details<br>on <strong>ScholarLattice.org</strong>!
            </div>
        </div>
        <h1 class="text-3xl font-bold"><%= @collection.title %></h1>
        <p class="text-lg font-light">
            <%= @collection.description %>
        </p>
        <% if @collection.all_top_events.present? %>
            <div>
                <h2 class="font-bold text-2xl mt-3">
                    Schedule
                </h2>
                <p>
                    All times <%= Time.zone %>
                </p>
                <% @collection.all_top_events.group_by { |event| event.starts_at.strftime("%B %d") }.each do |day, events| %>
                    <h3 class="font-bold text-xl mt-3"><%= day %></h3>
                    <%= render partial: "events/events_list", locals: { events: events, children_limit: 0, hide_webinar_links: true } %>
                <% end %>
            </div>
        <% end %>
    </section>
  </body>
</html>
