<section class="prose">
<% unless @collection.parent.nil? %>
<p>Back to <%= link_to @collection.parent.title, @collection.parent %>.</p>
<% end %>

<h1><%= @collection.title %> (<%= @collection.short_title %>)</h1>

<p><%= @collection.description %></p>

<% unless @collection.children.empty? %>
    <h4>Subcollections:</h4>
    <% @collection.children.each do |collection| %>
        <%= render partial: "card", locals: { collection: collection } %>
    <% end %>
<% end %>

<% if @collection.admin_users.include? @current_user %>
    <ul>
        <li>
            <%= link_to "Edit", edit_collection_path %>
        </li>
        <li>
            <%= link_to "Destroy", collection_path, data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %>
        </li>
    </ul>
<% end %>

<p>
    <%= link_to "Back to Collections", collections_path %>
</p>
</section>