<section class="mx-auto md:w-3/4 w-full">
    <%= render partial: "breadcrumb", locals: { collection: @collection } %>
    
    <% if @current_user and @current_user.can_administrate? @collection %>
        <div class="mt-3">
        <%= render AdminBarComponent.new(
            {icon: :edit, path: edit_collection_path, text: "Edit"},
            {icon: :page, path: new_collection_page_path(@collection), text: "New Page"},
            {icon: :collection, path: new_subcollection_path, text: "New #{@collection.subcollection_name}"},
        )%>
        </div>
        <p class="text-gray-500 text-sm">
            Administrators: <%= @collection.admin_users.map(&:email).join(", ") %>
        </p>
    <% end %>

    <h1 class="text-2xl font-bold text-gray-900 md:text-3xl py-5">
        <%= @collection.title %>
        <% if @current_user and @current_user.likes? @collection %>
            <%= link_to dislike_collection_path(@collection),
                class: "inline-flex items-center gap-2 rounded-md bg-yellow-500 ml-1 px-4 py-2 text-sm text-white shadow-sm focus:relative",
                title: "Click to remove favorite" do %>
                <span class="size-4">
                    <%= render IconComponent.new(:star) %>
                </span>
                <span class="hidden md:inline">
                    Favorite!
                </span>
            <% end %>
        <% else %>
            <%= link_to like_collection_path(@collection),
                class: "inline-flex font-normal items-center gap-2 rounded-md bg-white ml-1 px-4 py-2 text-sm text-gray-400 shadow-sm focus:relative",
                title: "Click to add favorite" do %>
                <span class="size-4">
                    <%= render IconComponent.new(:star) %>
                </span>
                <span class="hidden md:inline">
                    Add Favorite
                </span>
            <% end %>
        <% end %>
    </h1>

    <% if @collection.submittable? %>
        <h2 class="text-1.5xl font-light text-gray-900 md:text-2xl pb-5">
            <% if @collection.submissions_close_on.blank? and @collection.submissions_open_on.blank? %>
                Submissions are now open.
            <% elsif @collection.submissions_close_on.blank? %>
                <% if @collection.submissions_open? %>
                    Submissions opened on <%= @collection.submissions_open_on %>.
                <% else %>
                    Submissions will open on <%= @collection.submissions_open_on %>.
                <% end %>
            <% elsif @collection.submissions_open_on.blank? %>
                <% if @collection.submissions_closed? %>
                    Submissions closed on <%= @collection.submissions_close_on %>.
                <% else %>
                    Submissions are now open,
                    and will close on <%= @collection.submissions_close_on %>.
                <% end %>
            <% else %>
                <% if @collection.submissions_open? %>
                    Submissions opened on <%= @collection.submissions_open_on %>,
                    and will close on <%= @collection.submissions_close_on %>.
                <% elsif @collection.submissions_closed? %>
                    Submissions were open from <%= @collection.submissions_open_on %>
                    until <%= @collection.submissions_close_on %>, and are now closed.
                <% else %>
                    Submissions will open on <%= @collection.submissions_open_on %>,
                    and will be available until <%= @collection.submissions_close_on %>.
                <% end %>
            <% end %>
            <% if @collection.submissions_open? %>
                <%= link_to "New submission", 
                    new_collection_submission_path(@collection), 
                    class: "inline-block rounded bg-blue-600 mx-2 px-3 py-2 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-sky-400" %>
            <% end %>
        </h2>
    <% end %>

    <p class="text-lg font-light">
        <%= @collection.description %>
    </p>

    <% unless @collection.pages.excluding(@collection.home_page).empty? %>
        <div class="pt-4">
            <%= render PagesBarComponent.new(@collection.pages.excluding(@collection.home_page))  %>
        </div>
    <% end %>

    <% unless @collection.home_page.nil? %>
        <div class="pt-4 prose sm:prose-xl mx-auto prose-a:text-blue-600 hover:prose-a:text-blue-500 prose-a:no-underline">
            <%= sanitize @collection.home_page.content_html %>
        </div>
    <% end %>

    <% unless @collection.submissions.empty? %>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            Submissions:
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @collection.submissions.each do |submission| %>
                <%= render partial: "submissions/card", locals: { submission: submission } %>
            <% end %>
        </div>
    <% end %>

    <% unless @collection.children.empty? %>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            <%= @collection.subcollection_name.pluralize %>:
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @collection.children.each do |collection| %>
                <%= render partial: "card", locals: { collection: collection, user: @current_user } %>
            <% end %>
        </div>
    <% end %>

    <p class="mt-3">
        <% unless @collection.parent.nil? %>
            <%= link_to "« Back to #{@collection.parent.short_title}", @collection.parent,
                class: "text-sky-600 hover:text-sky-800 hover:underline" %>
        <% end %>
    </p>
</section>