<h1><%= @collection.title %> (<%= @collection.short_title %>)</h1>

<p><%= @collection.description %></p>

<%= link_to "Edit", edit_collection_path %>

<%= link_to "Back to Collections", collections_path %>
