<% content_for :title, @collection.title %>

<section class="mx-auto md:w-3/4 w-full">
    <%= render partial: "breadcrumb", locals: { collection: @collection } %>
    
    <% if can? :manage, @collection %>
        <div class="mt-3">
        <%= render AdminBarComponent.new(
            {icon: :edit, path: edit_collection_path, text: "Edit"},
            {icon: :edit, path: @collection.home_page ? edit_page_path(@collection.home_page) : "/", text: "Edit Home Page", hidden: @collection.home_page.blank?},
            {icon: :collection_outline, path: new_subcollection_path, text: "New #{@collection.subcollection_name}"},
            {icon: :page, path: new_collection_page_path(@collection), text: "New Page"},
            {icon: :calendar, path: new_collection_event_path(@collection), text: "New Event"},
            {
                icon: :star, 
                path: collection_likes_path(@collection), 
                text: "Followers (#{@collection.favorite_users.count})"
            },
            {
                icon: :invitation, 
                path: collection_invitations_path(@collection), 
                text: "Invitations (#{@collection.subtree_invitations.count})"
            },
            {
                icon: :submission, 
                path: collection_submissions_path(@collection), 
                text: "Submissions (#{@collection.subtree_submissions.count})"
            },
            {
                icon: :registration, 
                path: collection_registrations_path(@collection), 
                text: "Registrations (#{@collection.registrations.count})"
            },
        )%>
        </div>
        <p class="text-gray-500 text-sm">
            Administrators: <%= @collection.admin_emails %>
        </p>
    <% end %>

    <h1 class="text-2xl font-bold text-gray-900 md:text-3xl py-5">
        <%= @collection.title %>
        <% if @current_user and @current_user.likes? @collection %>
            <%= button_to dislike_collection_path(@collection), method: :post,
                class: "inline-flex items-center gap-2 rounded-md bg-yellow-500 ml-1 px-4 py-2 text-sm text-white shadow-sm focus:relative",
                form_class: "inline-block",
                title: "Click to remove favorite" do %>
                <span class="size-4">
                    <%= render IconComponent.new(:star_filled) %>
                </span>
                <span class="hidden md:inline">
                    Favorite!
                </span>
            <% end %>
        <% else %>
            <%= button_to like_collection_path(@collection), method: :post,
                class: "inline-flex font-normal items-center gap-2 rounded-md bg-white ml-1 px-4 py-2 text-sm text-gray-400 shadow-sm focus:relative",
                form_class: "inline-block",
                title: "Click to add favorite" do %>
                <span class="size-4">
                    <%= render IconComponent.new(:star) %>
                </span>
                <span class="hidden md:inline">
                    Add Favorite
                </span>
            <% end %>
        <% end %>
        <% if @collection.all_events.any? %>
            <%= link_to collection_events_path(@collection), 
                class: "inline-flex items-center gap-2 rounded-md bg-green-600 ml-1 px-4 py-2 text-sm text-white shadow-sm focus:relative hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-400" do %>
                <span class="size-4">
                    <%= render IconComponent.new(:calendar) %>
                </span>
                <span>
                    Events
                </span>
            <% end %>
        <% end %>
        <% if @current_user && @current_user.main_profile.registered_for? @collection %>
            <%= link_to @current_user.main_profile.registrations_for(@collection).first, 
                class: "inline-flex items-center gap-2 rounded-md bg-amber-600 ml-1 px-4 py-2 text-sm text-white shadow-sm focus:relative hover:bg-amber-700 focus:outline-none focus:ring focus:ring-green-400" do %>
                <span class="size-4">
                    <%= render IconComponent.new(:registration) %>
                </span>
                <span>
                    Registered!
                </span>
            <% end %>
        <% end %>
    </h1>

    <% if @collection.submittable? %>
        <h2 class="text-1.5xl font-light text-gray-900 md:text-2xl pb-5">
            <% open_time = @collection.submissions_open_on&.strftime("%Y-%m-%d %-I:%M%p") %>
            <% close_time = @collection.submissions_close_on&.strftime("%Y-%m-%d %-I:%M%p") %>
            <% if close_time.blank? && open_time.blank? %>
                Submissions are now open.
            <% elsif close_time.blank? %>
                <% if @collection.submissions_open? %>
                    Submissions opened on <%= open_time %> [<%= @collection.inherited_time_zone %>].
                <% else %>
                    Submissions will open on <%= open_time %> [<%= @collection.inherited_time_zone %>].
                <% end %>
            <% elsif open_time.blank? %>
                <% if @collection.submissions_closed? %>
                    Submissions closed on <%= close_time %> [<%= @collection.inherited_time_zone %>].
                <% else %>
                    Submissions are now open, and will close on <%= close_time %> [<%= @collection.inherited_time_zone %>].
                <% end %>
            <% else %>
                <% if @collection.submissions_open? %>
                    Submissions opened on <%= open_time %>, and will close on <%= close_time %> [<%= @collection.inherited_time_zone %>].
                <% elsif @collection.submissions_closed? %>
                    Submissions were open from <%= open_time %> until <%= close_time %> [<%= @collection.inherited_time_zone %>], and are now closed.
                <% else %>
                    Submissions will open on <%= open_time %>, and will be available until <%= close_time %> [<%= @collection.inherited_time_zone %>].
                <% end %>
            <% end %>
            <% if @collection.submissions_open? %>
                <%= link_to "New submission", 
                    new_collection_submission_path(@collection), 
                    class: "inline-block rounded bg-blue-600 mx-2 px-3 py-2 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-sky-400" %>
            <% end %>
        </h2>
    <% end %>

    <p class="text-lg font-light">
        <%= @collection.description %>
    </p>

    <% unless @collection.children.empty? %>
        <div class="pt-4">
            <%= render BarComponent.new(
                @collection.subcollection_name.pluralize,
                :collection_outline,
                @collection.children.map{|c| {text: c.short_title, path: collection_path(c), color: "sky-800"}},
            )  %>
        </div>
    <% end %>

    <% unless @collection.public_pages.empty? %>
        <div class="pt-4">
            <%= render PagesBarComponent.new(@collection.public_pages)  %>
        </div>
    <% end %>

    <% unless @collection.non_public_pages.empty? %>
        <% if can? :manage, @collection %>
            <div class="pt-4">
                <%= render PagesBarComponent.new(@collection.non_public_pages, public: false, label: "Non-public Pages")  %>
            </div>
        <% end %>
    <% end %>

    <% unless @collection.home_page.nil? %>   
        <div class="mathjax pt-4 prose sm:prose-xl mx-auto prose-a:text-blue-600 hover:prose-a:text-blue-500 prose-a:no-underline">
            <%= sanitize @collection.home_page.content_html %>
        </div>
    <% end %>

    <% unless @current_user.nil? or @current_user.submissions(@collection).empty? %>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            Your Submissions:
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @current_user.submissions.where(collection: @collection).each do |submission| %>
                <%= render partial: "submissions/card", locals: { submission: submission } %>
            <% end %>
        </div>
    <% end %>

    <% unless @collection.submissions.accepted.empty? %>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            Accepted Submissions:
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @collection.submissions.accepted.each do |submission| %>
                <%= render partial: "submissions/card", locals: { submission: submission } %>
            <% end %>
        </div>
    <% end %>

    <% unless @collection.children.empty? %>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            <%= @collection.subcollection_name.pluralize %>:
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @collection.children.each do |collection| %>
                <%= render partial: "card", locals: { collection: collection, user: @current_user } %>
            <% end %>
        </div>
    <% end %>

    <p class="mt-3">
        <% unless @collection.parent.nil? %>
            <%= link_to "« Back to #{@collection.parent.short_title}", @collection.parent,
                class: "text-sky-600 hover:text-sky-800 hover:underline" %>
        <% end %>
    </p>

    <% if can? :destroy, @collection %>
        <%= button_to "Delete this collection", @collection, "@click" => "if(!confirm('Are you sure?')) $event.preventDefault()",
            class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-red-100 text-red-800 inline-block font-medium", form_class: "mt-3", method: :delete %>
    <% end %>
</section>