<div id="<%= dom_id profile %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= profile.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= profile.email %>
    <% if profile.verified? %>
        <span class="inline-block size-4"><%= render IconComponent.new(:profile_verified) %></span>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Affiliation:</strong>
    <%= profile.affiliation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position Title:</strong>
    <%= profile.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position Type:</strong>
    <%= profile.position_type.humanize %>
  </p>

</div>
