<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ScholarLattice" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-white">
      <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
        <a class="block text-teal-600" href="/">
          <span class="sr-only">Home</span>
          <%= image_tag "logo.svg", class: "h-8" %>
        </a>

        <div class="flex flex-1 items-center justify-end md:justify-between">
          <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-6 text-sm">
              <li>
                <%= link_to "About", "#about" %>
              </li>
              <li>
                <%= link_to "Collections", collections_path %>
              </li>
              <li>
                <%= link_to "Profiles", "#" %>
              </li>
            </ul>
          </nav>

          <div class="flex items-center gap-4">
            <div class="sm:flex sm:gap-4">
              <%= link_to "Sign up or in", users_sign_in_path,
                class: "block rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-700" %>
            </div>

          </div>
        </div>
      </div>
    </header>
    <section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center">
      <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
          <h1 class="text-3xl font-bold text-gray-900 md:text-5xl py-5">
            ScholarLattice
          </h1>
          <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
            Organize your events in finite time
          </h2>

          <p class="hidden text-gray-500 md:mt-4 md:block">
            ScholarLattice is run by academics who think scholars should be able to spend
            more time on research, and less time on logistics.
          </p>

          <p class="hidden text-gray-500 md:mt-4 md:block text-sm">
            We look forward to your feedback during ScholarLattice's 2025 pilot!
          </p>

          <div class="mt-4 md:mt-8">
            <%= link_to "Sign up for free with just your email", users_sign_in_path,
              class: "inline-block rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-sky-400" %>
          </div>
        </div>
      </div>

      <%= image_tag "lecture.jpg",
        class: "h-full w-full object-cover sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px]" %>
    </section>
    <section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
      Trusted by academics everywhere
    </h2>

    <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
      <%= render "review" %>
      <%= render "review" %>
      <%= render "review" %>
    </div>
  </div>
</section>

<div class="mx-auto max-w-3xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center md:gap-8">
    <div
      class="rounded-2xl border border-sky-600 p-6 shadow-sm ring-1 ring-sky-600 sm:order-last sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-lg font-medium text-gray-900">
          Organizations
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> Free (during Pilot) </strong>

          <%# <span class="text-sm font-medium text-gray-700">/month</span> %>
        </p>
      </div>

      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Create events </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Track registrations </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Collect abstracts </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Schedule talks </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Share links </span>
        </li>
      </ul>

      <%= link_to "Email for information", "mailto:info@scholarlattice.org",
        class: "mt-8 block rounded-full border border-sky-600 bg-sky-600 px-12 py-3 text-center text-sm font-medium text-white hover:bg-sky-700 hover:ring-1 hover:ring-sky-700 focus:outline-none focus:ring active:text-sky-500" %>

    </div>

    <div class="rounded-2xl border border-gray-200 p-6 shadow-sm sm:px-8 lg:p-12">
      <div class="text-center">
        <h2 class="text-lg font-medium text-gray-900">
          Individuals
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> Always free </strong>
        </p>
      </div>

      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Register for events </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Organize small seminars </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Access materials </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-sky-700"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Connect with colleagues </span>
        </li>
      </ul>

      <%= link_to "Get Started", users_sign_in_path,
        class: "mt-8 block rounded-full border border-sky-600 bg-white px-12 py-3 text-center text-sm font-medium text-sky-600 hover:ring-1 hover:ring-sky-600 focus:outline-none focus:ring active:text-sky-500" %>

    </div>
  </div>
</div>
  </body>
</html>
