<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ScholarLattice" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-white">
      <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
        <% if @current_user %>
          <%= link_to dashboard_path, class:"block text-teal-600" do %>
            <span class="sr-only">Home</span>
            <%= image_tag "logo-small.svg", class: "h-10" %>
          <% end %>
        <% else %>
          <%= link_to collections_path, class:"block text-teal-600" do %>
            <span class="sr-only">Home</span>
            <%= image_tag "logo-small.svg", class: "h-10" %>
          <% end %>
        <% end %>

        <div class="flex flex-1 items-center justify-end md:justify-between">
          <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-6 text-sm">
              <li>
                <%= link_to "About", "#about" %>
              </li>
              <li>
                <%= link_to "Dashboard", dashboard_path %>
              </li>
              <li>
                <%= link_to "Collections", collections_path %>
              </li>
            </ul>
          </nav>

          <div class="flex items-center gap-4">
              <%= render "signin" %>
          </div>
        </div>
      </div>
    </header>
    <div class="bg-white">
      <% if alert.present? %><%= render partial: "alert", locals: {title: 'Alert', alert: alert} %><% end %>
      <% if notice.present? %><%= render partial: "alert", locals: {title: 'Notice', alert: notice} %><% end %>
    </div>
    <div class="bg-sky-50">
      <%= render "cta" %>
    </div>
    <div class="bg-white">
      <%= render "reviews" %>
    </div>
    <div class="bg-gray-50">
      <%= render "pricing" %>
    </div>
    <div>
      <%= render "about" %>
    </div>
    <div>
      <%= render "footer" %>
    </div>
  </body>
</html>
