<%= form.hidden_field :id, value: user.id %>

<div class="my-5">
<%= form.label :email, class: CssClass::LABEL do %>
    Email
<% end %>
<%= form.email_field :email, 
    class: "#{CssClass::EMAIL_FIELD} #{'bg-gray-100 hover:cursor-not-allowed' if !user.new_record?}", 
    disabled: !user.new_record? %>
<% if !user.new_record? %>
  <%= form.hidden_field :email, value: user.email %>
<% end %>
</div>

<div class="mb-4">
<%= form.label :first_name, class: CssClass::LABEL %>
<%= form.text_field :first_name, class: CssClass::TEXT_FIELD %>
</div>

<div class="mb-4">
<%= form.label :last_name, class: CssClass::LABEL %>
<%= form.text_field :last_name, class: CssClass::TEXT_FIELD %>
</div>

<div class="mb-4">
<%= form.label :affiliation, class: CssClass::LABEL do %>
    Affiliation
    <span class="text-xs text-gray-400 ml-1 font-normal">
    (e.g. University of Example)
    </span>
<% end %>
<%= form.text_field :affiliation, class: CssClass::TEXT_FIELD %>
</div>

<div class="mb-4">
<%= form.label :affiliation_identifier, class: CssClass::LABEL do %>
    Affiliation ID
    <span class="text-xs text-gray-400 ml-1 font-normal">
    (e.g. J00123456) (optional)
    </span>
<% end %>
<%= form.text_field :affiliation_identifier, class: CssClass::TEXT_FIELD %>
</div>

<div class="my-5">
<%= form.label :position_type, class: CssClass::LABEL %>
<%= form.select :position_type, User.position_types.keys.map { |key| [key.humanize, key] }, 
    {selected: user.position_type || :faculty}, 
    {class: CssClass::SELECT} %>
</div>

<div class="mb-4">
<%= form.label :position, class: CssClass::LABEL do %>
    Position
    <span class="text-xs text-gray-400 ml-1 font-normal">
    (e.g. Assistant Professor, Sophomore)
    </span>
<% end %>
<%= form.text_field :position, class: CssClass::TEXT_FIELD %>
</div>