<%= form.hidden_field :id, value: user.id %>

<div class="my-5">
    <%= form.label :email, class: CssClass::LABEL do %>
        Email
    <% end %>
    <%= form.email_field :email, 
        class: "#{CssClass::EMAIL_FIELD} #{'bg-gray-100 hover:cursor-not-allowed' if !user.new_record?}", 
        disabled: !user.new_record? %>
    <%= render "errors", object: user, attribute: :email %>
    <% if !user.new_record? %>
    <%= form.hidden_field :email, value: user.email %>
    <% end %>
</div>

<div class="mb-4">
    <%= form.label :first_name, class: CssClass::LABEL %>
    <%= form.text_field :first_name, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: user, attribute: :first_name %>
</div>

<div class="mb-4">
    <%= form.label :last_name, class: CssClass::LABEL %>
    <%= form.text_field :last_name, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: user, attribute: :last_name %>
</div>

<div class="mb-4">
    <%= form.label :affiliation, class: CssClass::LABEL do %>
        Affiliation
        <span class="<%= CssClass::SUBLABEL %>">
        (e.g. University of Example)
        </span>
    <% end %>
    <%= form.text_field :affiliation, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: user, attribute: :affiliation %>
</div>

<div class="mb-4">
    <%= form.label :affiliation_identifier, class: CssClass::LABEL do %>
        <% unless defined?(affiliation_identifier_alias) && affiliation_identifier_alias.present? %>
            Affiliation ID
            <span class="<%= CssClass::SUBLABEL %>">
            (e.g. J00123456) (optional)
            </span>
        <% else %>
            <%= affiliation_identifier_alias %>
        <% end %>
    <% end %>
    <%= form.text_field :affiliation_identifier, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: user, attribute: :affiliation_identifier %>
</div>

<div class="my-5">
    <%= form.label :position_type, class: CssClass::LABEL %>
    <%= form.select :position_type, User.position_types.keys.map { |key| [key.humanize, key] }, 
        {selected: user.position_type || :faculty}, 
        {class: CssClass::SELECT} %>
    <%= render "errors", object: user, attribute: :position_type %>
</div>

<div class="mb-4">
    <%= form.label :position, class: CssClass::LABEL do %>
        Position
        <span class="<%= CssClass::SUBLABEL %>">
        (e.g. Assistant Professor, Sophomore)
        </span>
    <% end %>
    <%= form.text_field :position, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: user, attribute: :position %>
</div>
