<div id="<%= dom_id user %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= user.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= user.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
    <% if user.verified? %>
        <span class="inline-block size-4"><%= render IconComponent.new(:user_verified) %></span>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Affiliation:</strong>
    <%= user.affiliation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position Title:</strong>
    <%= user.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position Type:</strong>
    <%= user.position_type.humanize %>
  </p>

</div>
