<%= form_with(model: registration, url: (registration.new_record? ? [collection, registration] : [registration]), class: "contents") do |form| %>
  <% if registration.errors.any? or registration.user&.errors&.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @session.present? %>
    <%= fields_for :session, @session do |session_fields| %>
      <div class="mt-2">
        <%= session_fields.label :token,
            t(".token"),
            for: "passwordless_session_token" %>
        <div class="relative">
          <%= session_fields.text_field :token,
              required: true,
              autofocus: true,
              autocomplete: "one-time-code",
              placeholder: "Token sent by email (for example, ABCD1234)",
              value: nil,
              class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" %>
          <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
            <span class="size-4 text-gray-600">
              <%= render IconComponent.new(:key) %>
            </span>
          </span>
        </div>
        <%= session_fields.hidden_field :identifier, value: @session.identifier %>
    <% end %>
  <% elsif @current_user.blank? %>
    <p class="p-3 text-center">
      Welcome to ScholarLattice! If this is not your first time here, please
      <%= link_to "sign in", users_sign_in_path, class: "text-blue-600 hover:text-blue-800 hover:underline" %>.
    </p>
  <% end %>

  <%= form.hidden_field :user_id, value: registration.user_id %>

  <h2 class="font-bold text-2xl">Profile Info</h2>
  <%= form.fields_for :user do |user_fields| %>
    <%= render "users/fields_for", 
          user: registration.user, 
          form: user_fields, 
          affiliation_identifier_alias: collection.inherited(:affiliation_identifier_alias) %>
  <% end %>

  <h2 class="font-bold text-2xl">Registration Info</h2>

  <div class="my-5">
    <%= form.label :registration_option_id %>
    <%= form.select :registration_option_id, collection.registration_options.map {|o| [o.name_with_cost_and_stock, o.id]},
        {
          selected: registration.registration_option_id || nil,
          disabled: (can? :manage, collection) ? [] : collection.registration_options.reject(&:in_stock?).map(&:id)
        },
        {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
  </div>

  <% if can? :manage, collection %>
    <div class="my-5">
      <%= form.label :status do %>
        <span class="size-4 inline-block">
          <%= render IconComponent.new(:key) %>
        </span>
        Status
      <% end %>
      <%= form.select :status, Registration.statuses.keys.map {|key| [key.humanize, key]},
        {selected: registration.status || :draft},
        {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
