<% content_for :title, "Registration for #{@registration.collection.title}" %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render partial: "breadcrumb", locals: { collection: @registration.collection, action: "Show" } %>

    <p class="my-5">
      <strong class="block font-medium mb-1">Profile:</strong>
      <%= @registration.user.name_with_email %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Collection:</strong>
      <%= @registration.collection.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Registration Option:</strong>
      <%= @registration.registration_option.name_with_cost %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Status:</strong>
      <%= @registration.status.humanize %>
    </p>

    <% if can? :view_payments, @registration %>
      <p class="my-5">
        <strong class="block font-medium mb-1">
          Payments:
        </strong>
        Total:
        <%= Money.from_cents(@registration.payment_total, :usd).format %> /
        <%= Money.from_cents(@registration.registration_option.cost, :usd).format %>
        <% if can? :manage, @registration.collection %>
          <%= link_to "New Payment", new_registration_payment_path(@registration), 
            class: "bg-emerald-500 hover:bg-emerald-700 text-white text-sm py-1 px-2 rounded" %>
        <% end %>
        <% if @registration.registration_payments.any? %>
          <ul class="list-disc ml-5 pl-5">
            <% @registration.registration_payments.each do |payment| %>
              <li>
                <%= payment.created_at.strftime("%Y-%m-%d") %>:
                <%= Money.from_cents(payment.amount, :usd).format %>
                <% if can? :manage, @registration.collection %>
                  <%= link_to edit_payment_path(payment), 
                      class: "inline-flex items-center gap-2 rounded-md bg-white ml-1 px-2 py-1 my-1 text-sm font-normal text-lime-700 shadow-sm focus:relative" do %>
                      <span class="size-4">
                          <%= render IconComponent.new(:edit) %>
                      </span>
                      Edit
                  <% end %>
                <% end %>
                <% if payment.memo.present? %>
                  <br>
                  Memo: <%= payment.memo %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </p>
    <% end %>

    <% if can? :update, @registration %>
      <%= link_to "Edit this registration", edit_registration_path(@registration), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    
    <%= link_to "Back to collection", collection_path(@registration.collection), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <% if can? :destroy, @registration %>
      <%= button_to "Destroy this registration", @registration, "@click" => "if(!confirm('Are you sure?')) $event.preventDefault()",
        class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", form_class: "inline-block", method: :delete %>
    <% end %>
  </div>
</div>
