<div id="<%= dom_id registration_option %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Collection:</strong>
    <%= registration_option.collection_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= registration_option.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= registration_option.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Opens at:</strong>
    <%= registration_option.opens_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Closes at:</strong>
    <%= registration_option.closes_at %>
  </p>

</div>
