
  <div id="events" class="min-w-full">
    <%= month_calendar(events: events, attribute: :starts_at) do |date, events| %>
      <%= date.strftime("%b %d") %>
      <% events.each do |event| %>
        <div class="mt-2 md:border md:border-gray-200 md:rounded-md md:p-2">
            <%= event.starts_at.strftime('%I:%M%p')%>:
            <%= link_to event.title, event, class: "text-blue-600 hover:underline" %>
            <% if event.location.present? %>
                <span class="text-green-800">(<%= event.location %>)</span>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </div>