
  <div id="events" class="min-w-full">
    <%= month_calendar(events: events, attribute: :starts_at) do |date, events| %>
      <%= date.strftime("%b %d") %>
      <% events.each do |event| %>
        <%= link_to event, class: "mt-2 md:border md:border-gray-200 md:rounded-md md:p-2 block hover:bg-blue-50" do %>
          <%= event.starts_at.strftime('%I:%M%p')%>:
          <span class="text-blue-600"><%= event.title %></span>
          <% if event.location.present? %>
            <br>
            <span class="text-green-800 text-sm"><%= event.location %></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>