<ul class="list-disc pl-5 mt-2">
    <% events.sort_by { |e| e.starts_at }.each do |event| %>
    <li class="mb-2">
        <% unless event.same_times_as_parent? %>
            <%= event.starts_at.strftime("%I:%M %p") %>:
        <% end %>
        <%= link_to event.title, event, class: "text-blue-600 hover:underline" %>
        <% if event.location.present? %>
            <span class="text-sm">in <span class="text-green-800"><%= event.location %></span></span>
        <% end %>
        <% if event.submission.present? %>
            <br>
            <span class="italic mathjax"><%= event.submission.title %></span>
            &mdash;
            <%= event.submission.profile.name %>
        <% end %>
        <% if event.children.present? %>
            <%= render partial: "events_list", locals: { events: event.children } %>
        <% end %>
    </li>
    <% end %>
</ul>