<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= event.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Starts at:</strong>
    <%= event.starts_at.present? ? event.starts_at.in_time_zone(event.collection.inherited_time_zone).strftime("%Y-%m-%d %I:%M%p") : "" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ends at:</strong>
    <%= event.ends_at.present? ? event.ends_at.in_time_zone(event.collection.inherited_time_zone).strftime("%Y-%m-%d %I:%M%p") : "" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collection:</strong>
    <%= event.collection.short_title_path %>
  </p>

</div>
