<div id="<%= dom_id event %>">
    <h1 class="text-xl font-bold text-gray-900 md:text-2xl pt-2">
        <%= event.collection.title %>
    </h1>
    <h2 class="text-2xl font-bold text-gray-900 md:text-3xl pt-1">
        <%= event.title %>
    </h2>
    <% if event.parent.present? %>
      <h3 class="text-lg font-bold text-gray-900 md:text-xl pt-1">
            Subevent of <%= link_to event.parent.title, event.parent, class: "text-blue-600 hover:text-blue-500 hover:underline" %>
      </h3>
    <% end %>
    <% if event.inherited(:location).present? %>
      <h3 class="text-lg font-bold text-gray-900 md:text-xl pt-1">
          <%= event.inherited(:location) %>
      </h3>
    <% end %>
    <p class="text-lg font-light">
        <%= @event.description %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Times:</strong>
      <%= event.times_in_time_zone %> (<%= event.collection.inherited_time_zone %>)
    </p>

    <% if event.inherited(:web_conference_link).present? %>
      <p class="my-5">
        <strong class="block font-medium mb-1">Web conference link:</strong>
        <%= link_to event.inherited(:web_conference_link), target: "_blank", class: "inline-flex items-center gap-2 rounded-md bg-purple-600 px-2 py-1 text-base text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring focus:ring-purple-400 break-all" do %>
          <span class="inline-block size-3">
              <%= render IconComponent.new(:video) %>
          </span>
          Web Conference
        <% end %>
      </p>
    <% end %>

    <% if event.submission.present? %>
      <div class="border p-4 mx-auto md:w-3/4 rounded-lg">
        <%= render event.submission %>
        <% if can? :manage, event.submission %>
          <%= link_to "Edit Submission", edit_submission_path(event.submission), class: "text-blue-600 hover:text-blue-500 hover:underline" %>
        <% end %>
      </div>
    <% elsif event.attached_page.present? %>
      <div class="border p-4 mx-auto md:w-3/4 rounded-lg">
        <%= render event.attached_page %>
        <% if can? :manage, event.attached_page %>
          <%= link_to "Edit Page", edit_page_path(event.attached_page), class: "text-blue-600 hover:text-blue-500 hover:underline" %>
        <% end %>
      </div>
    <% end %>
</div>
