<ul class="list-disc pl-5 mt-2">
    <% events.sort_by { |e| e.starts_at }.each do |event| %>
    <li class="mb-2">
        <% unless defined?(hide_same_times) && hide_same_times %>
            <%= event.starts_at.strftime("%I:%M %p") %>:
        <% end %>
        <%= link_to event.title, event, class: "text-blue-600 hover:underline" %>
        <% if event.location.present? %>
            <span class="text-sm">in <span class="text-green-800"><%= event.location %></span></span>
        <% end %>
        <% if event.webinar_link.present? and (!defined?(hide_webinar_links) or !hide_webinar_links) %>
            <%= link_to event_webinar_path(event), 
                class: "inline-block bg-purple-600 hover:bg-purple-700 text-white font-semibold px-1 py-1 rounded transition-colors duration-150 ml-2", 
                target: "_blank", 
                rel: "noopener" do %>
                <span class="inline-block size-4">
                    <%= render IconComponent.new(:video) %>
                </span>
            <% end %>
        <% end %>
        <% if event.submission.present? %>
            <br>
            <span class="italic mathjax"><%= event.submission.title %></span>
            &mdash;
            <%= event.submission.user.name %>
        <% end %>
        <% if event.children.present? %>
            <% unless defined?(children_limit) && children_limit && event.children.count > children_limit %>
                <%= render partial: "events/events_list", locals: { 
                    events: event.children, 
                    hide_same_times: event.children_have_same_times?, 
                    children_limit: defined?(children_limit) && children_limit 
                } %>
            <% end %>
        <% end %>
    </li>
    <% end %>
</ul>