<%= form_with(model: event, url: (event.new_record? ? [event.collection, event] : [event]), class: "contents") do |form| %>
  <%= render "fields_for", event: event, form: form %>
  <span class="<%= CssClass::BUTTON_BAR %>">
    <%= form.submit class: CssClass::SUBMIT %>
    <% if event.new_record? %>
      <%= link_to "Cancel", collection_events_path(event.collection), class: CssClass::CANCEL %>
    <% else %>
      <%= link_to "Cancel", event, class: CssClass::CANCEL %>
    <% end %>
  </span>
<% end %>
