<%= form_with(model: event, url: (@event.new_record? ? [@event.collection, @event] : [@event]), class: "contents") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :location, class: "block text-xs font-medium text-gray-700" %>
    <%= form.text_field :location, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :webinar_link, "Webinar link (include http:// or https://)", class: "block text-xs font-medium text-gray-700" %>
    <%= form.url_field :webinar_link, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="mb-3">
    <%= form.label :starts_at, class: "block text-xs font-medium text-gray-700" do %>
      Starts at [<%= @event.collection.inherited_time_zone %>]
    <% end %>
    <% Time.use_zone(@event.collection.inherited_time_zone) do %>
      <%= form.datetime_field :starts_at, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %> 
    <% end %>
    <% @event.collection.errors.full_messages_for(:starts_at).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :ends_at, class: "block text-xs font-medium text-gray-700" do %>
      Ends at [<%= @event.collection.inherited_time_zone %>]
    <% end %>
    <% Time.use_zone(@event.collection.inherited_time_zone) do %>
      <%= form.datetime_field :ends_at, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" %> 
    <% end %>
    <% @event.collection.errors.full_messages_for(:ends_at).each do |message| %>
      <div class="text-red-800"><%= message %></div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :order, "Order", class: "block text-xs font-medium text-gray-700" %>
    <%= form.number_field :order, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :collection_id, class: "block text-xs font-medium text-gray-700" %>
    <%= form.select :collection_id, 
      @current_user.admin_collections.filter{|c| @event.parent.blank? || @event.parent.collection.subtree.include?(c)}
        .map {|c| [c.short_title_path, c.id]},
      {selected: event.collection_id},
      {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="my-5">
    <%= form.label "Subevent of", class: "block text-xs font-medium text-gray-700" %>
    <%= form.select :parent_id, 
      [["(None)", nil]] +
        Event.where(collection_id: @event.collection.path_ids)
        .map {|e| ["#{e.collection.short_title_path}: #{e.title} (Starts: #{e.starts_at&.strftime('%Y-%m-%d %I:%M %p')}) (Ends: #{e.ends_at&.strftime('%Y-%m-%d %I:%M %p')})", e.id]},
      {selected: event.parent_id},
      {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="my-5">
    <%= form.label "Attached Submission", class: "block text-xs font-medium text-gray-700" %>
    <%= form.select :submission_id, 
      [["(None)", nil]] + 
        Submission.where(event: event).map {|s| ["#{s.title} | #{s.profile.name}", s.id]} +
        Submission.where(collection_id: @event.collection.subtree_ids, status: :accepted).left_outer_joins(:event).where(events: { id: nil })
        .map {|s| ["#{s.title} | #{s.profile.name}", s.id]},
      {selected: event.submission_id},
      {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="my-5">
    <%= form.label "Attached Collection", class: "block text-xs font-medium text-gray-700" %>
    <%= form.select :attached_collection_id, 
      [["(None)", nil]] + 
        @event.collection.children.map {|c| [c.short_title_path, c.id]},
      {selected: event.attached_collection_id},
      {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="my-5">
    <%= form.label "Attached Page", class: "block text-xs font-medium text-gray-700" %>
    <%= form.select :attached_page_id, 
      [["(None)", nil]] + 
        @event.collection.pages.map {|p| ["#{p.title}", p.id]},
      {selected: event.attached_page_id},
      {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
