<% content_for :title, "Events | #{@collection.title}" %>

<div class="w-full">

  <%= render partial: "breadcrumb", locals: { collection: @collection } %>

  <div class="mt-2 flex justify-between items-center">
    <h1 class="font-bold text-4xl">
      <span class="size-8 inline-block mr-1">
        <%= render IconComponent.new(:calendar) %>
      </span>
      <span>
        Events for
        <%= link_to @collection.title, @collection, class: "hover:underline text-blue-700" %>
      </span>
    </h1>
    <% if can? :create, Event %>
      <%= link_to "New event", new_collection_event_path(@collection), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>
  <p>
    All times <%= Time.zone.name %>.
    Page loaded at <%= Time.current.strftime("%I:%M %p") %> <%= Time.zone.name %>.
  </p>
  
  <% if @collection.parent.present? and @collection.parent.show_events? %>
    <div class="mt-4">
      <%= link_to "View all events for #{@collection.parent.title}", collection_events_path(@collection.parent), class: "text-blue-600 hover:underline" %>
    </div>
  <% end %>

  <% if @happening_soon_events.present? %>
    <h2 class="font-bold text-xl md:text-3xl my-3">
      Happening Soon!
    </h2>
    <ul class="list-disc pl-5">
      <% @happening_soon_events.each do |event| %>
        <li class="mb-2">
          <%= event.starts_at.strftime("%I:%M %p") %>:
          <%= link_to event.title, event, class: "text-blue-600 hover:underline" %>
          <% if event.inherited(:location).present? %>
            <span class="text-sm">in <span class="text-green-800"><%= event.inherited(:location) %></span></span>
          <% end %>
          <% if event.inherited(:webinar_link).present? %>
              <%= link_to event_webinar_path(event), 
                  class: "inline-block bg-purple-600 hover:bg-purple-700 text-white font-semibold px-1 py-1 rounded transition-colors duration-150 ml-2", 
                  target: "_blank", 
                  rel: "noopener" do %>
                  <span class="inline-block size-4">
                      <%= render IconComponent.new(:video) %>
                  </span>
              <% end %>
          <% end %>
          <% if event.submission.present? %>
            <br>
            <span class="italic mathjax"><%= event.submission.title %></span>
            &mdash;
            <%= event.submission.profile.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @scheduled_events.any? %>
  <div class="hidden sm:block">
    <h2 class="font-bold text-2xl mt-3">
      Calendar
    </h2>
    <%= render partial: "calendar", locals: { 
      events: @scheduled_events, 
      unscheduled_events: @unscheduled_events
    } %>
  </div>
  <div class="sm:hidden mt-4 italic border rounded-lg p-4">
    <p>Sorry, your device's current display is too narrow to display the calendar view of events.</p>
  </div>
  <% end %>

  <div class="mx-auto md:w-2/3 border p-4 rounded-lg mt-4">

    <% if @scheduled_events.present? %>
      <div>
        <h2 class="font-bold text-2xl md:text-4xl mt-3">
          <%= @collection.title %> Schedule
        </h2>
        <p>
          All times <%= Time.zone %>
        </p>
        <% @scheduled_events.sort_by { |e| e.starts_at }.group_by { |event| event.starts_at.strftime("%B %d") }.each do |day, events| %>
          <h3 class="font-bold text-xl mt-3"><%= day %></h3>
          <%= render partial: "events_list", locals: { events: events } %>
        <% end %>
      </div>
    <% end %>

    <% if @unscheduled_events.present? %>
      <div>
        <h2 class="font-bold text-2xl my-3">Unscheduled Events</h2>
        <ul class="list-disc pl-5">
          <% @unscheduled_events.each do |event| %>
            <li class="mb-2">
              <%= link_to event.title, event, class: "text-blue-600 hover:underline" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <% if can? :edit, @collection %>
    <div>
      <h2 class="font-bold text-2xl my-3">Program LaTeX</h2>
      <form action="https://www.overleaf.com/docs" method="post" target="_blank">
        <textarea name="snip" readonly class="w-full h-60 bg-gray-100 p-2" ><%= @collection.program_tex %></textarea>
        <input
          type="submit"
          value="Open program as PDF using Overleaf.com"
          class="mt-2 rounded-lg py-2 px-4 bg-green-600 text-white font-medium hover:bg-green-700 transition-colors duration-200 hover:cursor-pointer">
      </form>
    </div>
  <% end %>
</div>
