<div class="w-full">

  <%= render partial: "breadcrumb", locals: { collection: @collection } %>

  <% content_for :title, "Events" %>

  <div class="mt-2 flex justify-between items-center">
    <h1 class="font-bold text-4xl">
      <span class="size-8 inline-block mr-1">
        <%= render IconComponent.new(:calendar) %>
      </span>
      <span>
        Calendar
      </span>
    </h1>
    <% if can? :create, Event %>
      <%= link_to "New event", new_collection_event_path(@collection), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>
  
  <% if @collection.parent.present? %>
    <div class="mt-4">
      <%= link_to "View all events for #{@collection.parent.title}", collection_events_path(@collection.parent), class: "text-blue-600 hover:underline" %>
    </div>
  <% end %>

  <%= render partial: "calendar", locals: { events: @scheduled_events, unscheduled_events: @unscheduled_events } %>

  <% if @scheduled_events.present? %>
    <div>
      <h2 class="font-bold text-2xl md:text-4xl mt-3">Agenda</h2>
      <ul class="list-disc pl-5 mt-2">
      <% @scheduled_events.sort_by { |event| event.starts_at }.each do |e| %>
        <li class="mb-2">
          <%= e.starts_at.strftime("%B %d, %Y %H:%M") %>: 
          <%= link_to e.title, e, class: "text-blue-600 hover:underline" %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @unscheduled_events.present? %>
    <div>
      <h2 class="font-bold text-2xl mt-3">Unscheduled Events</h2>
      <ul class="list-disc pl-5">
        <% @unscheduled_events.each do |event| %>
          <li class="mb-2">
            <%= link_to event.title, event, class: "text-blue-600 hover:underline" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
