<% content_for :title, "Create subevents for #{@event.title} | #{@event.collection.title}" %>

<section class="mx-auto md:w-3/4 w-full" x-data="{ sameTimes: false }">

  <%= render partial: "breadcrumb", locals: { collection: @event.collection, action: "Subevents" } %>

  <div class="mx-auto mt-4">

    <h2 class="font-bold text-2xl mb-4">Generate Subevents</h2>

    <p class="mb-4">
      Create subevents for 
      <span class="font-medium"><%= @event.title %></span> starting at
      <%= @event.starts_at&.strftime("%Y-%m-%d %I:%M %p") || "(unscheduled)" %>
      <% if @event.ends_at.present? %>
        and ending at <%= @event.ends_at&.strftime("%Y-%m-%d %I:%M %p") %>
      <% end %>
      <% if @event.length_in_minutes.present? %>
        (total length: <%= @event.length_in_minutes %> minutes)
      <% end %>
    </p>

    <%= form_with url: new_subevents_path, method: :post, local: true do |form| %>
      <div class="mb-4">
        <%= form.label :subevent_title, "Subevent title" %>
        <%= form.text_field :subevent_title, value: @event.title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= form.label :number_of_subevents, "Number of subevents" %>
        <%= form.number_field :number_of_subevents, min: 1, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= form.label :same_times, "Each subevent will use the same start/end times as #{@event.title}?", class: "mr-2" %>
        <%= form.check_box :same_times, class: "shadow appearance-none border rounded w-4 h-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", "x-model" => "sameTimes" %>
      </div>

      <div x-show="!sameTimes">
        <div class="mb-4">
          <%= form.label :length_of_each_subevent, "Length of each subevent (in minutes)" %>
          <%= form.number_field :length_of_each_subevent, min: 1, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= form.label :length_of_break, "Length of break between subevents (in minutes)" %>
          <%= form.number_field :length_of_break, min: 0, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <div class="mb-4">
        <%= form.label :collection_id, "Select Collection" %>
        <%= form.select :collection_id, @event.collection.subtree.map{|c| [c.short_title_path, c.id]}, {selected: @event.collection.id}, {class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full"} %>
      </div>

      <div class="flex items-center justify-between">
        <%= form.submit "Create Subevents", class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <%= link_to "Back to event", @event, class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block" %>
      </div>
    <% end %>


  </div>
</section>
