<% content_for :title, "#{@event.title} | #{@event.collection.title}" %>

<section class="mx-auto md:w-3/4 w-full">

  <%= render partial: "breadcrumb", locals: { collection: @event.collection, action: "Details" } %>

  <div class="mx-auto">

    <%= render @event %>

    <% if @event.children.present? %>
      <h2 class="font-bold text-2xl">Subevents</h2>
      <%= render partial: "calendar", locals: { events: @subevents, unscheduled_events: @unscheduled_subevents } %>
    <% end %>

    <%= link_to "Back to events", collection_events_path(@event.collection), class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <% if can? :edit, @event %>
      <%= link_to "Edit this event", edit_event_path(@event), class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>

    <% if can? :copy, @event %>
      <%= link_to "Copy this event", copy_event_path(@event), class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>

    <% if can? :manage, @event %>
      <%= link_to "New subevents", new_subevents_path(@event), class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>

    <% if can? :destroy, @event %>
      <%= link_to "Destroy this event", @event, data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }, class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</section>
