<%= form_with(model: page, url: (page.new_record? ? [page.collection, page] : [page]), class: "contents") do |form| %>
  <%= render "fields_for", page: page, form: form %>
  <div>
    <span class="<%= CssClass::BUTTON_BAR %>">
      <%= form.submit class: CssClass::SUBMIT %>
      <% if page.new_record? %>
        <%= link_to "Cancel", collection_path(page.collection), class: CssClass::CANCEL %>
      <% else %>
        <%= link_to "Cancel", page, class: CssClass::CANCEL %>
      <% end %>
    </span>
  </div>
<% end %>
