<% if invitation.user.nil? %>
  <div class="my-5">
    <%= form.label :user_email, class: CssClass::LABEL do %>Email<% end %>
    <%= form.email_field :user_email, class: CssClass::EMAIL_FIELD %>
    <%= render "errors", object: invitation, attribute: :user_email %>
  </div>

  <div class="my-5">
    <%= form.label :user_first_name, class: CssClass::LABEL do %>First Name<% end %>
    <%= form.text_field :user_first_name, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: invitation, attribute: :user_first_name %>
  </div>

  <div class="my-5">
    <%= form.label :user_last_name, class: CssClass::LABEL do %>Last Name<% end %>
    <%= form.text_field :user_last_name, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: invitation, attribute: :user_last_name %>
  </div>

  <div class="my-5">
    <%= form.label :user_affiliation, class: CssClass::LABEL do %>Institutional Affiliation<% end %>
    <%= form.text_field :user_affiliation, class: CssClass::TEXT_FIELD %>
    <%= render "errors", object: invitation, attribute: :user_affiliation %>
  </div>
<% else %>
  <div class="my-5">
    <%= form.label :user, class: CssClass::LABEL %>
    <%= form.text_field :user, value: invitation.user.name_with_email, disabled: true, class: CssClass::TEXT_FIELD %>
    <%= form.hidden_field :user_id, value: invitation.user_id %>
    <%= render "errors", object: invitation, attribute: :user %>
  </div>
<% end %>

<div class="my-5">
  <%= form.label :message, class: CssClass::LABEL %>
  <%= form.text_area :message, class: CssClass::TEXT_AREA, rows: 5 %>
  <%= render "errors", object: invitation, attribute: :message %>
</div>

<div class="my-5">
  <%= form.label :status, class: CssClass::LABEL %>
  <%= form.select :status, Invitation.statuses.keys.map {|key| [key.humanize, key]},
      {selected: invitation.status || :pending}, class: CssClass::SELECT %>
  <%= render "errors", object: invitation, attribute: :status %>
</div>
