  <% if invitation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if invitation.user.nil? %>
    <div class="my-5">
      <%= form.label :user_email do %>Email<% end %>
      <%= form.email_field :user_email, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :user_first_name do %>First Name<% end %>
      <%= form.text_field :user_first_name, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :user_last_name do %>Last Name<% end %>
      <%= form.text_field :user_last_name, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :user_affiliation do %>Institutional Affiliation<% end %>
      <%= form.text_field :user_affiliation, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>
  <% else %>
    <div class="my-5">
      <%= form.label :user %>
      <%= form.text_field :user, value: invitation.user.name_with_email, disabled: true, class: "block shadow rounded-md border border-gray-400 bg-gray-200 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
      <%= form.hidden_field :user_id, value: invitation.user_id %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :message %>
    <%= form.text_area :message, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full", rows: 5 %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.select :status, Invitation.statuses.keys.map {|key| [key.humanize, key]},
        {selected: invitation.status || :pending}, class: "block shadow rounded-md border border-gray-400 outline-none focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
  </div>
