<%= form_with(model: invitation, url: (invitation.new_record? ? [invitation.collection, invitation] : [invitation]), class: "contents") do |form| %>
  <%= render "fields_for", invitation: invitation, form: form %>
  <div class="<%= CssClass::BUTTON_BAR %>">
    <%= form.submit class: CssClass::SUBMIT %>
    <% if invitation.new_record? %>
      <%= link_to "Cancel", collection_invitations_path(invitation.collection), class: CssClass::CANCEL %>
    <% else %>
      <%= link_to "Cancel", invitation, class: CssClass::CANCEL %>
    <% end %>
  </div>
<% end %>
