<div id="<%= dom_id invitation %>">
  <h2 class="font-bold text-4xl pb-3">
    Invitation to submit to
    <%= link_to invitation.collection.title, invitation.collection, class: "text-sky-700 hover:underline" %>
  </h2>

  <p class="pb-3">
    <strong class="font-bold">Status:</strong>
    <span class="font-medium <%= 'text-blue-500' if invitation.status == 'accepted' %> <%= 'text-red-500' if invitation.status == 'declined' %>"><%= invitation.status.humanize %></span>
  </p>

  <% if invitation.message.blank? %>
    <p>To <%= invitation.profile.name_with_email %>.</p>
  <% else %>
    <div class="mathjax prose sm:prose-xl prose-a:text-blue-600 hover:prose-a:text-blue-500 prose-a:no-underline">
      <p>Dear <%= invitation.profile.name_with_email %>,</p>
      <%= sanitize invitation.message_html %>
    </div>
  <% end %>

</div>
