<% content_for :title, "New Invitation | #{@collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "breadcrumb", locals: { collection: @collection } %>

  <div class="flex justify-between items-center">
    <h2 class="font-bold text-4xl">Invitations</h1>
    <div class="flex">
      <%= link_to "New batch", batch_collection_invitations_path, class: "rounded-lg py-3 px-5 mr-3 bg-blue-600 text-white block font-medium" %>
      <%= link_to "New invitation", new_collection_invitation_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>

  <div id="invitations" class="min-w-full">
    <h2 class="font-bold text-3xl mt-3">Pending Invitations</h1>
    <ul class="list-disc pl-5">
    <% @invitations.where(status: :pending).each do |invitation| %>
      <li>
        <%= invitation.profile.name_with_email %>
        <%= link_to "Show", invitation, class: "ml-2 text-blue-600 underline" %>
        <%= link_to "Edit", edit_invitation_path(invitation), class: "ml-2 text-blue-600 underline" %>
      </li>
    <% end %>
    </ul>
    <h2 class="font-bold text-3xl mt-3">Accepted Invitations</h1>
    <ul class="list-disc pl-5">
    <% @invitations.where(status: :accepted).each do |invitation| %>
      <li>
        <%= invitation.profile.name_with_email %>
        <%= link_to "Show", invitation, class: "ml-2 text-blue-600 underline" %>
        <%= link_to "Edit", edit_invitation_path(invitation), class: "ml-2 text-blue-600 underline" %>
      </li>
    <% end %>
    </ul>
    <h2 class="font-bold text-3xl mt-3">Declined Invitations</h1>
    <ul class="list-disc pl-5">
    <% @invitations.where(status: :declined).each do |invitation| %>
      <li>
        <%= invitation.profile.name_with_email %>
        <%= link_to "Show", invitation, class: "ml-2 text-blue-600 underline" %>
        <%= link_to "Edit", edit_invitation_path(invitation), class: "ml-2 text-blue-600 underline" %>
      </li>
    <% end %>
    </ul>
    <h2 class="font-bold text-3xl mt-3">Revoked Invitations</h1>
    <ul class="list-disc pl-5">
    <% @invitations.where(status: :revoked).each do |invitation| %>
      <li>
        <%= invitation.profile.name_with_email %>
        <%= link_to "Show", invitation, class: "ml-2 text-blue-600 underline" %>
        <%= link_to "Edit", edit_invitation_path(invitation), class: "ml-2 text-blue-600 underline" %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
