<% content_for :title, "Invitations | #{@collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "breadcrumb", locals: { collection: @collection } %>

  <div class="flex justify-between items-center">
    <h2 class="font-bold text-4xl pb-3">
      Invitations for
      <%= link_to @collection.title, @collection, class: "text-sky-700 hover:underline" %>
    </h2>
    <% if can? :manage, @collection %>
        <div class="flex">
        <%= link_to "New batch", batch_collection_invitations_path, class: "rounded-lg py-3 px-5 mr-3 bg-blue-600 text-white block font-medium" %>
        <%= link_to "New invitation", new_collection_invitation_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
        </div>
    <% end %>
  </div>

    <% if can? :manage, @collection %>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            Pending (<%= @invitations.where(status: :pending).count %>):
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @invitations.where(status: :pending).each do |invitation| %>
                <%= render partial: "invitations/card", locals: { invitation: invitation, collection: @collection } %>
            <% end %>
        </div>
        <div class="text-gray-700 py-3">
            Emails:
            <textarea class="w-full h-12 bg-gray-100 p-2" readonly><%= 
                @invitations.where(status: :pending).map{|s| s.profile.email }.join("; ")
            %></textarea>
        </div>
    <% end %>

    <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
        Accepted (<%= @invitations.where(status: :accepted).count %>):
    </h2>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <% @invitations.where(status: :accepted).each do |invitation| %>
            <%= render partial: "invitations/card", locals: { invitation: invitation, collection: @collection } %>
        <% end %>
    </div>
    <% if can? :manage, @collection %>
        <div class="text-gray-700 py-3">
            Emails:
            <textarea class="w-full h-12 bg-gray-100 p-2" readonly><%= 
                @invitations.where(status: :accepted).map{|s| s.profile.email }.join("; ")
            %></textarea>
        </div>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            <span class="size-4 inline-block">
                <%= render IconComponent.new(:key) %>
            </span>
            Declined (<%= @invitations.where(status: :declined).count %>):
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @invitations.where(status: :declined).each do |invitation| %>
                <%= render partial: "invitations/card", locals: { invitation: invitation, collection: @collection } %>
            <% end %>
        </div>
        <div class="text-gray-700 py-3">
            Emails:
            <textarea class="w-full h-12 bg-gray-100 p-2" readonly><%= 
                @invitations.where(status: :declined).map{|s| s.profile.email }.join("; ")
            %></textarea>
        </div>
        <h2 class="text-xl font-medium text-gray-800 md:text-2xl py-3">
            <span class="size-4 inline-block">
                <%= render IconComponent.new(:key) %>
            </span>
            Revoked (<%= @invitations.where(status: :revoked).count %>):
        </h2>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            <% @invitations.where(status: :revoked).each do |invitation| %>
                <%= render partial: "invitations/card", locals: { invitation: invitation, collection: @collection } %>
            <% end %>
        </div>
        <div class="text-gray-700 py-3">
            Emails:
            <textarea class="w-full h-12 bg-gray-100 p-2" readonly><%= 
                @invitations.where(status: :revoked).map{|s| s.profile.email }.join("; ")
            %></textarea>
        </div>
    <% end %>
</div>
