<% content_for :title, "New Invitation Batch | #{@collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "breadcrumb", locals: { collection: @collection, action: "New Batch" } %>
  <h1 class="font-bold text-4xl">
    New invitation batch for 
    <%= link_to @collection.title, @collection, class: "text-sky-700 hover:underline" %>
  </h1>

  <%= form_with url: batch_collection_invitations_path, method: :post, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :user_info, class: CssClass::LABEL do %>
        Invitee information
        <span class="<%= CssClass::SUBLABEL %>">
          (Use format <code>First Last &lt;email@example.com&gt;</code> 
          for each. Separate each by lines, commas, or semicolons)
        </span>
      <% end %>
      <%= f.text_area :user_info, value: @user_info, rows: 5, class: CssClass::TEXT_AREA %>
    </div>

    <div class="mb-4">
      <%= f.label :message, "Message", class: CssClass::LABEL %>
      <%= f.text_area :message, value: @message, rows: 5, class: CssClass::TEXT_AREA %>
    </div>

    <div class="<%= CssClass::BUTTON_BAR %>">
      <%= f.submit "Create Invitations", class: CssClass::SUBMIT %>
      <%= link_to "Back to invitations", collection_invitations_path, class: CssClass::CANCEL %>
    </div>
  <% end %>

</div>
