<% content_for :title, "New Invitation Batch | #{@collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "breadcrumb", locals: { collection: @collection, action: "New Batch" } %>
  <h1 class="font-bold text-4xl">
    New invitation batch for 
    <%= link_to @collection.title, @collection, class: "text-sky-700 hover:underline" %>
  </h1>

  <%= form_with url: batch_collection_invitations_path, method: :post, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :profiles, class: "block font-medium text-gray-700" do %>
        Invitee information
        <span class="text-sm text-gray-500">
          (Use format <code>First Last &lt;email@example.com&gt;</code> 
          for each. Separate each by lines, commas, or semicolons)
        </span>
      <% end %>
      <%= f.text_area :profiles, value: @profiles, rows: 5, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4">
      <%= f.label :message, "Message", class: "block font-medium text-gray-700" %>
      <%= f.text_area :message, value: @message, rows: 5, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="flex">
      <%= f.submit "Create Invitations", class: "rounded-lg py-3 px-5 bg-blue-500 text-white font-medium hover:bg-blue-600" %>
      <%= link_to "Back to invitations", collection_invitations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>

</div>
