<div class="my-5">
  <%= form.label :user_id, class: CssClass::LABEL do %>Profile<% end %>
  <% if submission.user.present? %>
      <%= form.hidden_field :user_id %>
      <p><%= submission.user.name_with_email %></p>
  <% else %>
      <%= form.hidden_field :user_id, value: @current_user.id %>
      <p><%= @current_user.name_with_email %></p>
  <% end %>
</div>

<div class="my-5">
  <%= form.label :title, class: CssClass::LABEL %>
  <%= form.text_field :title, class: CssClass::TEXT_FIELD %>
  <%= render "errors", object: submission, attribute: :title %>
</div>

<div class="my-5">
    <%= form.label :abstract, class: CssClass::LABEL do %>
      Abstract
      <span class="text-gray-500">
        Standard <code>$\LaTeX$</code> commands are supported for mathematical notation.
      </span>
    <% end %>
    <% if can? :manage, submission or submission.new_record? %>
      <%= form.textarea :abstract, rows: 4, class: CssClass::TEXT_AREA %>
    <% else %>
      <%= form.textarea :abstract, rows: 4, class: CssClass::TEXT_AREA, disabled: true %>
    <% end %>
  <%= render "errors", object: submission, attribute: :abstract %>
</div>

<div class="my-5">
  <%= form.label :notes, class: CssClass::LABEL do %>
    Notes
    <span class="text-gray-500">
      These are not part of your official abstract, but will be publicly available on ScholarLattice
      and can be used to provide additional information (links to slides, references, etc.).
    </span>
  <% end %>
  <%= form.textarea :notes, rows: 4, class: CssClass::TEXT_AREA %>
  <%= render "errors", object: submission, attribute: :notes %>
</div>

<div class="my-5">
  <%= form.label :private_notes, class: CssClass::LABEL do %>
    Private notes
    <span class="text-gray-500">
      This field may be used by submitters and organizers to record any private
      notes that will not be shown publicly.
    </span>
  <% end %>
  <%= form.textarea :private_notes, rows: 4, class: CssClass::TEXT_AREA %>
  <%= render "errors", object: submission, attribute: :private_notes %>
</div>

<% if can? :manage, submission %>
  <div class="my-5">
    <%= form.label :status, class: CssClass::LABEL %>
    <%= form.select :status, Submission.statuses.keys.map {|key| [key.humanize, key]},
      {selected: submission.status || :draft},
      {class: CssClass::SELECT} %>
    <%= render "errors", object: submission, attribute: :status %>
  </div>
  <% unless @collection %>
    <div class="my-5">
      <%= form.label :collection_id, class: CssClass::LABEL %>
      <%= form.select :collection_id, 
        @current_user.admin_collections.map {|c| [c.short_title_path, c.id]},
        {selected: submission.collection_id},
        {class: CssClass::SELECT} %>
    <%= render "errors", object: submission, attribute: :collection_id %>
    </div>
  <% end %>
  <% unless submission.new_record? %>
    <div class="my-5 flex items-center">
      <%= form.label :send_notification, "Send notification upon update ", class: CssClass::LABEL %>
      <%= form.check_box :send_notification, class: CssClass::CHECK_BOX %>
      <%= render "errors", object: submission, attribute: :send_notification %>
    </div>
  <% end %>
<% end %>
