<%= form_with(model: submission, url: (submission.new_record? ? [submission.collection, submission] : [submission]), class: "contents") do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id, class: CssClass::LABEL do %>Profile<% end %>
    <% if submission.user.present? %>
        <%= form.hidden_field :user_id %>
       <p><%= submission.user.name_with_email %></p>
    <% else %>
        <%= form.hidden_field :user_id, value: @current_user.id %>
       <p><%= @current_user.name_with_email %></p>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :title, class: CssClass::LABEL %>
    <%= form.text_field :title, class: CssClass::TEXT_FIELD %>
  </div>

  <div class="my-5">
      <%= form.label :abstract, class: CssClass::LABEL do %>
        Abstract
        <span class="text-xs text-gray-400 ml-1 font-normal">
          Standard <code>$\LaTeX$</code> commands are supported for mathematical notation.
        </span>
      <% end %>
      <% if can? :manage, submission or submission.new_record? %>
        <%= form.text_area :abstract, rows: 4, class: CssClass::TEXT_AREA %>
      <% else %>
        <%= form.text_area :abstract, rows: 4, class: "#{CssClass::TEXT_AREA} cursor-not-allowed bg-gray-200", disabled: true %>
      <% end %>
  </div>

  <div class="my-5">
    <%= form.label :notes, class: CssClass::LABEL do %>
      Notes
      <span class="text-xs text-gray-400 ml-1 font-normal">
        These are not part of your official abstract, but will be publicly available on ScholarLattice
        and can be used to provide additional information (links to slides, references, etc.).
      </span>
    <% end %>
    <%= form.text_area :notes, rows: 4, class: CssClass::TEXT_AREA %>
  </div>

  <div class="my-5">
    <%= form.label :private_notes, class: CssClass::LABEL do %>
      Private notes
      <span class="text-xs text-gray-400 ml-1 font-normal">
        This field may be used by submitters and organizers to record any private
        notes that will not be shown publicly.
      </span>
    <% end %>
    <%= form.text_area :private_notes, rows: 4, class: CssClass::TEXT_AREA %>
  </div>

  <% if can? :manage, submission %>
    <div class="my-5">
      <%= form.label :status, class: CssClass::LABEL %>
      <%= form.select :status, Submission.statuses.keys.map {|key| [key.humanize, key]},
        {selected: submission.status || :draft},
        {class: CssClass::SELECT} %>
    </div>
    <% unless @collection %>
      <div class="my-5">
        <%= form.label :collection_id %>
        <%= form.select :collection_id, 
          @current_user.admin_collections.map {|c| [c.short_title_path, c.id]},
          {selected: submission.collection_id},
          {class: CssClass::SELECT} %>
      </div>
    <% end %>

    <% unless submission.new_record? %>
      <div class="my-5 flex items-center">
        <%= form.label :send_notification, "Send notification upon update", class: CssClass::LABEL %>
        <%= form.check_box :send_notification %>
      </div>
    <% end %>
  <% end %>

  <div class="inline">
    <%= form.submit class: CssClass::SUBMIT %>
  </div>
<% end %>
