<div id="<%= dom_id submission %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Profile:</strong>
    <%= submission.profile.name_with_email %>
    <% if submission.profile.verified? %>
        <span class="inline-block size-4"><%= render IconComponent.new(:profile_verified) %></span>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= submission.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Abstract:</strong>
    <div class="mathjax prose sm:prose-xl prose-a:text-blue-600 hover:prose-a:text-blue-500 prose-a:no-underline">
      <%= sanitize submission.abstract_html %>
    </div>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= submission.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= submission.status.humanize %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collection:</strong>
    <%= submission.collection.title %>
  </p>

</div>
