<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @submission %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= @submission.status.humanize %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collection:</strong>
    <%= @submission.collection.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Event:</strong>
    <%= @submission.event.title if @submission.event.present? %>
  </p>

    <% if can? :update, @submission %>
      <%= link_to "Edit this submission", edit_submission_path(@submission), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    
    <%= link_to "Back to collection", collection_path(@submission.collection), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <% if can? :destroy, @submission %>
      <%= link_to "Destroy this submission", @submission, data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }, class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</div>
