<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">
      Enter your emailed token
    </h1>

    <p class="mt-4 text-gray-500">
      To log in as 
      <span class="font-medium"><%= @session.authenticatable.email %></span>,
      either click the magic link emailed with the subject
      <span class="font-medium"><%= I18n.t("passwordless.mailer.sign_in.subject") %></span>
      to your inbox on
      <span class="font-medium"><%= @session.created_at %></span>, or
      copy/paste the 
      <span class="font-medium">eight-character token</span>
      provided in that email below.
    </p>

  <%= form_with(model: @session, url: url_for(action: 'update'), scope: 'passwordless', method: 'patch', data: { turbo: 'false' }, 
    html: { class: 'mx-auto mb-0 mt-8 max-w-md space-y-4' }) do |f| %>
    <div>
      <%= f.label :token,
          t(".token"),
          for: "passwordless_session_token",
          class: "sr-only" %>

      <div class="relative">
        <%= f.text_field :token,
            required: true,
            autofocus: true,
            autocomplete: "one-time-code",
            placeholder: "Token sent by email (for example, ABCD1234)",
            class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" %>

        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
          <span class="size-4 text-gray-600">
            <%= render IconComponent.new(:key) %>
          </span>
        </span>
      </div>
    </div>


    <div class="flex flex-row-reverse">
      <%= f.submit(
        "Sign in as #{@session.authenticatable.email}", 
        class: "inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white cursor-pointer") %>
      <%= link_to "Sign in as someone else", users_sign_in_path, class: "inline-block rounded-lg text-blue-500 px-5 py-3 text-sm font-medium" %>
    </div>
  <% end %>

    <p class="mt-4 text-gray-500">
      Can't find the email? Check your spam folder or contact your IT administrator!
      Note that your first ScholarLattice email may take a minute or two to arrive.
    </p>
  </div>
  <div class="mx-auto max-w-lg text-center">
    <p class="mt-4 text-sm text-gray-400">
      By signing into ScholarLattice, you agree to our <a class="text-sky-500" href="/privacy">Privacy Policy</a>
      and <a class="text-sky-500" href="/tos">Terms of Service</a>.
    </p>
  </div>
</div>