<%= form_with(model: payment, url: payment.new_record? ? registration_payments_path(registration) : payment_path(payment), class: "contents") do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :amount, class: CssClass::LABEL do %>Amount in USD cents<% end %>
    <%= form.number_field :amount, value: payment.amount,
        class: CssClass::NUMBER_FIELD %>   
  </div>

  <div class="my-5">
    <%= form.label :memo, class: CssClass::LABEL %>
    <%= form.text_area :memo, value: payment.memo,
        class: CssClass::TEXT_AREA %>   
  </div>

  <div class="inline">
    <%= form.submit class: CssClass::SUBMIT %>
  </div>
<% end %>
