<%= form_with(model: payment, url: payment.new_record? ? registration_payments_path(registration) : payment_path(payment), class: "contents") do |form| %>
  <%= render "fields_for", payment: payment, form: form %>
  <div class="<%= CssClass::BUTTON_BAR %>">
    <%= form.submit class: CssClass::SUBMIT %>
    <% if payment.new_record? %>
      <%= link_to "Cancel", collection_path(payment.collection), class: CssClass::CANCEL %>
    <% else %>
      <%= link_to "Cancel", payment, class: CssClass::CANCEL %>
    <% end %>
  </div>
<% end %>
